body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  margin: 1.2rem;
}

.cases_and_map_Container {
  flex: 0.9;
}

.table_and_charts_Container {
  width: 32vw;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .table_and_charts_Container {
    width: 100%;
  }
}
